@import "normalize.css";
@import "basscss-grid";
@import "data-grid";

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #fcfbfa;
}

.site-header {
  background-color: #FD7400;
  color: #fff;
  padding: 10px 10px 8px 10px;
}

.site-header a {
  color: #fff;
}

.site-logo-image {
  width: 25px;
  height: auto;
  margin-right: 5px;
  vertical-align: middle;
}

.site-title {
  margin: 0px;
  font-size: 21px;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
}

.site-nav {
  margin: 0px;
  padding: 0px;
  float: right;
}

.site-nav .nav-item {
  display: inline;
}

.menu {
  margin: 0px;
  padding: 0px;
  color: #FD7400;
  border-bottom: 2px solid #FD7400;
}

.menu-item {
  display: inline-block;
}

.menu-item button {
  border: 0px;
  background-color: transparent;
  padding: 10px;
  outline: 0px;
}

.menu-item button:hover {
  background-color: #fff;
}

.site-main {
  
}

.site-footer {
  
}